@-webkit-keyframes hide{
  from{
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
  to{
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
@keyframes hide{
  from{
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
  to{
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
@-webkit-keyframes openMenuRect{
  from{
    width:30px;
  }
  to{
    width: 300px;
  }
}
@keyframes openMenuRect{
  from{
    width:30px;
  }
  to{
    width: 300px;
  }
}
@-webkit-keyframes openMenuRectTablet{
  from{
    width:30px;
  }
  to{
    width: 250px;
  }
}
@keyframes openMenuRectTablet{
  from{
    width:30px;
  }
  to{
    width: 250px;
  }
}
@-webkit-keyframes openMenuRectMobile{
  from{
    height: 3px;
  }
  to{
    height: 30px;
  }
}
@keyframes openMenuRectMobile{
  from{
    height: 3px;
  }
  to{
    height: 30px;
  }
}
@-webkit-keyframes closeMenuRect{
  from{
    width:300px;
  }
  to{
    width: 30px;
  }
}
@keyframes closeMenuRect{
  from{
    width:300px;
  }
  to{
    width: 30px;
  }
}
@-webkit-keyframes closeMenuRectMobile{
  from{
    height: 30px;
  }
  to{
    height: 3px;
  }
}
@keyframes closeMenuRectMobile{
  from{
    height: 30px;
  }
  to{
    height: 3px;
  }
}
@-webkit-keyframes fadeInUpCustom {
  from{
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
  to{
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

}
@keyframes fadeInUpCustom {
  from{
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
  to{
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

}
@-webkit-keyframes fadeInUpCustomDelayed {
  0%{
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
  50%{
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
  100%{
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

}
@keyframes fadeInUpCustomDelayed {
  0%{
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
  50%{
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
  100%{
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

}
@-webkit-keyframes fadeOutUpCustom {
  from{
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  to{
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
  }
}
@keyframes fadeOutUpCustom {
  from{
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  to{
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
  }
}
@-webkit-keyframes fadeInLeft {
  from{
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  to{
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes fadeInLeft {
  from{
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  to{
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes fadeInRight {
  from{
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  to{
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes fadeInRight {
  from{
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  to{
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes fadeOutLeft {
  from{
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to{
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
}
@keyframes fadeOutLeft {
  from{
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to{
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
}
@-webkit-keyframes fadeOutRight {
  from{
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to{
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
}
@keyframes fadeOutRight {
  from{
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to{
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
}
@-webkit-keyframes drawIntroLine{
  0%{
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    stroke-dasharray: 0 2000;
  }
  15%{
    stroke-dasharray: 500 2000;
  }
  25%{
    stroke-dasharray: 634 2000;
  }
  40%{
    stroke-dasharray: 1134 2000;
  }
  50%{
    stroke-dasharray: 1268 2000;
    fill: transparent;
  }
  51%{
    fill: #fff;
  }
  52%{
    fill: transparent;
  }
  53%{
    fill: #fff;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
  54%{
    fill: transparent;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
@keyframes drawIntroLine{
  0%{
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    stroke-dasharray: 0 2000;
  }
  15%{
    stroke-dasharray: 500 2000;
  }
  25%{
    stroke-dasharray: 634 2000;
  }
  40%{
    stroke-dasharray: 1134 2000;
  }
  50%{
    stroke-dasharray: 1268 2000;
    fill: transparent;
  }
  51%{
    fill: #fff;
  }
  52%{
    fill: transparent;
  }
  53%{
    fill: #fff;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
  54%{
    fill: transparent;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
@-webkit-keyframes drawIntroDot{
  0%{
    stroke-dasharray: 5 3000;
    stroke-dashoffset: 0px;
  }
  15%{
    stroke-dashoffset: -500px;
  }
  25%{
    stroke-dashoffset: -634px;
  }
  40%{
    stroke-dashoffset: -1134px;
  }
  50%{
    stroke-dashoffset: -1260px;
  }
  60%{
    stroke-dashoffset: -1260px;
  }
  70%{
    stroke-dashoffset: -1440px;
  }
  100%{
    stroke-dasharray: 5 3000;
    stroke-dashoffset: -2760px;
  }
}
@keyframes drawIntroDot{
  0%{
    stroke-dasharray: 5 3000;
    stroke-dashoffset: 0px;
  }
  15%{
    stroke-dashoffset: -500px;
  }
  25%{
    stroke-dashoffset: -634px;
  }
  40%{
    stroke-dashoffset: -1134px;
  }
  50%{
    stroke-dashoffset: -1260px;
  }
  60%{
    stroke-dashoffset: -1260px;
  }
  70%{
    stroke-dashoffset: -1440px;
  }
  100%{
    stroke-dasharray: 5 3000;
    stroke-dashoffset: -2760px;
  }
}
/* clean-css ignore:start */
@-webkit-keyframes revealText{
  0%{
    width: 28px;
  }
  50%{
    width: 480px;
    x: 10;
  }
  99%{
    width: 0px;
    x: 490;
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
@keyframes revealText{
  0%{
    width: 28px;
  }
  50%{
    width: 480px;
    x: 10;
  }
  99%{
    width: 0px;
    x: 490;
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
/* clean-css ignore:end */
@-webkit-keyframes displayText{
  0%{
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
  }
  1%{
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
  }
  100%{
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
  }
}
@keyframes displayText{
  0%{
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
  }
  1%{
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
  }
  100%{
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
  }
}
@-webkit-keyframes display{
  from{
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
  }
  to{
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
}
@keyframes display{
  from{
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
  }
  to{
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
}
@-webkit-keyframes displayBackground{
  from{
    color: #322940;
  }
  to{
    color: #3c344a;
  }
}
@keyframes displayBackground{
  from{
    color: #322940;
  }
  to{
    color: #3c344a;
  }
}
@-webkit-keyframes hue {
  0%{
    color: yellow;
  }
  33%{
    color: cyan;
  }
  66%{
    color: magenta;
  }
  100%{
    color: yellow;
  }
}
@keyframes hue {
  0%{
    color: yellow;
  }
  33%{
    color: cyan;
  }
  66%{
    color: magenta;
  }
  100%{
    color: yellow;
  }
}
@-webkit-keyframes scrollw1{
  from{
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to{
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@keyframes scrollw1{
  from{
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to{
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@-webkit-keyframes scrollw2{
  from{
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to{
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes scrollw2{
  from{
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to{
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes scrollw3{
  from{
    -webkit-transform: translateX(200%);
    transform: translateX(200%);
  }
  to{
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
@keyframes scrollw3{
  from{
    -webkit-transform: translateX(200%);
    transform: translateX(200%);
  }
  to{
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
@-webkit-keyframes hover {
  0%{
    fill: #fff;
  }
  10%{
    fill: inherit;
  }
  20%{
    fill: #fff;
  }
  21%{
    fill: transparent;
  }
  100%{
    fill: transparent;
  }
}
@keyframes hover {
  0%{
    fill: #fff;
  }
  10%{
    fill: inherit;
  }
  20%{
    fill: #fff;
  }
  21%{
    fill: transparent;
  }
  100%{
    fill: transparent;
  }
}
@-webkit-keyframes drawOutline {
  0%{
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    stroke-dasharray: 0 2000;
  }
  50%{
    stroke-dasharray: 1328 2000;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
  100%{
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    stroke-dasharray: 1328 2000;
  }
}
@keyframes drawOutline {
  0%{
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    stroke-dasharray: 0 2000;
  }
  50%{
    stroke-dasharray: 1328 2000;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
  100%{
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    stroke-dasharray: 1328 2000;
  }
}
@-webkit-keyframes draw {
  from{
    stroke-dashoffset: 90;
  }
  to{
    stroke-dashoffset: -1330;
  }
}
@keyframes draw {
  from{
    stroke-dashoffset: 90;
  }
  to{
    stroke-dashoffset: -1330;
  }
}
@-webkit-keyframes positionRect1{
  0%{
    height: 3px;
    width: 30px;
    -webkit-transform: translateX(-45px);
    transform: translateX(-45px);
  }
  50%{
    height: 30px;
    width: 30px;
    -webkit-transform: translateX(-45px);
    transform: translateX(-45px);
  }
  100%{
    height: 30px;
    -webkit-transform: translateX(-500px);
    transform: translateX(-500px);
    width: 300px;
  }
}
@keyframes positionRect1{
  0%{
    height: 3px;
    width: 30px;
    -webkit-transform: translateX(-45px);
    transform: translateX(-45px);
  }
  50%{
    height: 30px;
    width: 30px;
    -webkit-transform: translateX(-45px);
    transform: translateX(-45px);
  }
  100%{
    height: 30px;
    -webkit-transform: translateX(-500px);
    transform: translateX(-500px);
    width: 300px;
  }
}
@-webkit-keyframes positionRect2{
  0%{
    height: 3px;
    width: 30px;
    -webkit-transform: translateX(-15px);
    transform: translateX(-15px);
  }
  50%{
    height: 30px;
    width: 30px;
    -webkit-transform: translateX(-15px);
    transform: translateX(-15px);
  }
  100%{
    -webkit-transform: translateX(-150px);
    transform: translateX(-150px);
    height: 30px;
    width: 300px;
  }
}
@keyframes positionRect2{
  0%{
    height: 3px;
    width: 30px;
    -webkit-transform: translateX(-15px);
    transform: translateX(-15px);
  }
  50%{
    height: 30px;
    width: 30px;
    -webkit-transform: translateX(-15px);
    transform: translateX(-15px);
  }
  100%{
    -webkit-transform: translateX(-150px);
    transform: translateX(-150px);
    height: 30px;
    width: 300px;
  }
}
@-webkit-keyframes positionRect3{
  0%{
    height: 3px;
    width: 30px;
    -webkit-transform: translateX(15px);
    transform: translateX(15px);
  }
  50%{
    height: 30px;
    width: 30px;
    -webkit-transform: translateX(15px);
    transform: translateX(15px);
  }
  100%{
    -webkit-transform: translateX(200px);
    transform: translateX(200px);
    height: 30px;
    width: 300px;
  }
}
@keyframes positionRect3{
  0%{
    height: 3px;
    width: 30px;
    -webkit-transform: translateX(15px);
    transform: translateX(15px);
  }
  50%{
    height: 30px;
    width: 30px;
    -webkit-transform: translateX(15px);
    transform: translateX(15px);
  }
  100%{
    -webkit-transform: translateX(200px);
    transform: translateX(200px);
    height: 30px;
    width: 300px;
  }
}
@-webkit-keyframes positionRect1Tablet{
  0%{
    height: 3px;
    width: 30px;
    -webkit-transform: translateX(-45px);
    transform: translateX(-45px);
  }
  50%{
    height: 30px;
    width: 30px;
    -webkit-transform: translateX(-45px);
    transform: translateX(-45px);
  }
  100%{
    height: 30px;
    -webkit-transform: translateX(-400px);
    transform: translateX(-400px);
    width: 250px;
  }
}
@keyframes positionRect1Tablet{
  0%{
    height: 3px;
    width: 30px;
    -webkit-transform: translateX(-45px);
    transform: translateX(-45px);
  }
  50%{
    height: 30px;
    width: 30px;
    -webkit-transform: translateX(-45px);
    transform: translateX(-45px);
  }
  100%{
    height: 30px;
    -webkit-transform: translateX(-400px);
    transform: translateX(-400px);
    width: 250px;
  }
}
@-webkit-keyframes positionRect2Tablet{
  0%{
    height: 3px;
    width: 30px;
    -webkit-transform: translateX(-15px);
    transform: translateX(-15px);
  }
  50%{
    height: 30px;
    width: 30px;
    -webkit-transform: translateX(-15px);
    transform: translateX(-15px);
  }
  100%{
    -webkit-transform: translateX(-125px);
    transform: translateX(-125px);
    height: 30px;
    width: 250px;
  }
}
@keyframes positionRect2Tablet{
  0%{
    height: 3px;
    width: 30px;
    -webkit-transform: translateX(-15px);
    transform: translateX(-15px);
  }
  50%{
    height: 30px;
    width: 30px;
    -webkit-transform: translateX(-15px);
    transform: translateX(-15px);
  }
  100%{
    -webkit-transform: translateX(-125px);
    transform: translateX(-125px);
    height: 30px;
    width: 250px;
  }
}
@-webkit-keyframes positionRect3Tablet{
  0%{
    height: 3px;
    width: 30px;
    -webkit-transform: translateX(15px);
    transform: translateX(15px);
  }
  50%{
    height: 30px;
    width: 30px;
    -webkit-transform: translateX(15px);
    transform: translateX(15px);
  }
  100%{
    -webkit-transform: translateX(150px);
    transform: translateX(150px);
    height: 30px;
    width: 300px;
  }
}
@keyframes positionRect3Tablet{
  0%{
    height: 3px;
    width: 30px;
    -webkit-transform: translateX(15px);
    transform: translateX(15px);
  }
  50%{
    height: 30px;
    width: 30px;
    -webkit-transform: translateX(15px);
    transform: translateX(15px);
  }
  100%{
    -webkit-transform: translateX(150px);
    transform: translateX(150px);
    height: 30px;
    width: 300px;
  }
}
@-webkit-keyframes positionRect1Mobile{
  0%{
    height: 3px;
    width: 30px;
    -webkit-transform: translateX(-45px);
    transform: translateX(-45px);
  }
  50%{
    height: 30px;
    width: 30px;
    -webkit-transform: translateX(-45px);
    transform: translateX(-45px);
  }
  100%{
    height: 30px;
    -webkit-transform: translateX(-50vw);
    transform: translateX(-50vw);
    width: 33.33vw;
  }
}
@keyframes positionRect1Mobile{
  0%{
    height: 3px;
    width: 30px;
    -webkit-transform: translateX(-45px);
    transform: translateX(-45px);
  }
  50%{
    height: 30px;
    width: 30px;
    -webkit-transform: translateX(-45px);
    transform: translateX(-45px);
  }
  100%{
    height: 30px;
    -webkit-transform: translateX(-50vw);
    transform: translateX(-50vw);
    width: 33.33vw;
  }
}
@-webkit-keyframes positionRect2Mobile{
  0%{
    height: 3px;
    width: 30px;
    -webkit-transform: translateX(-15px);
    transform: translateX(-15px);
  }
  50%{
    height: 30px;
    width: 30px;
    -webkit-transform: translateX(-15px);
    transform: translateX(-15px);
  }
  100%{
    -webkit-transform: translateX(-16.66vw);
    transform: translateX(-16.66vw);
    height: 30px;
    width: 33.33vw;
  }
}
@keyframes positionRect2Mobile{
  0%{
    height: 3px;
    width: 30px;
    -webkit-transform: translateX(-15px);
    transform: translateX(-15px);
  }
  50%{
    height: 30px;
    width: 30px;
    -webkit-transform: translateX(-15px);
    transform: translateX(-15px);
  }
  100%{
    -webkit-transform: translateX(-16.66vw);
    transform: translateX(-16.66vw);
    height: 30px;
    width: 33.33vw;
  }
}
@-webkit-keyframes positionRect3Mobile{
  0%{
    height: 3px;
    width: 30px;
    -webkit-transform: translateX(15px);
    transform: translateX(15px);
  }
  50%{
    height: 30px;
    width: 30px;
    -webkit-transform: translateX(15px);
    transform: translateX(15px);
  }
  100%{
    -webkit-transform: translateX(16.66vw);
    transform: translateX(16.66vw);
    height: 30px;
    width: 33.33vw;
  }
}
@keyframes positionRect3Mobile{
  0%{
    height: 3px;
    width: 30px;
    -webkit-transform: translateX(15px);
    transform: translateX(15px);
  }
  50%{
    height: 30px;
    width: 30px;
    -webkit-transform: translateX(15px);
    transform: translateX(15px);
  }
  100%{
    -webkit-transform: translateX(16.66vw);
    transform: translateX(16.66vw);
    height: 30px;
    width: 33.33vw;
  }
}
@-webkit-keyframes logoBigSlideLeft {
  0%{
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  100%{
    left: 0;
    -webkit-transform: translateX(0) translateY(-50%);
    transform: translateX(0) translateY(-50%);
  }
}
@keyframes logoBigSlideLeft {
  0%{
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  100%{
    left: 0;
    -webkit-transform: translateX(0) translateY(-50%);
    transform: translateX(0) translateY(-50%);
  }
}
@-webkit-keyframes logoBigSlideLeftTablet {
  from{
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  to{
    left: 0;
    -webkit-transform: translateX(0) translateY(-50%);
    transform: translateX(0) translateY(-50%);
  }
}
@keyframes logoBigSlideLeftTablet {
  from{
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  to{
    left: 0;
    -webkit-transform: translateX(0) translateY(-50%);
    transform: translateX(0) translateY(-50%);
  }
}
@-webkit-keyframes homeTextSlideRight {
  0%{
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
  100%{
    left: 100%;
    -webkit-transform: translateX(-100%) translateY(-50%);
    transform: translateX(-100%) translateY(-50%);
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
}
@keyframes homeTextSlideRight {
  0%{
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
  100%{
    left: 100%;
    -webkit-transform: translateX(-100%) translateY(-50%);
    transform: translateX(-100%) translateY(-50%);
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
}
@-webkit-keyframes homeTextSlideRightTablet {
  0%{
    right: 50%;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transform: translateX(50%) translateY(-50%);
    transform: translateX(50%) translateY(-50%);
  }
  100%{
    -webkit-transform: translateX(0) translateY(-50%);
    transform: translateX(0) translateY(-50%);
    right: 0;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
}
@keyframes homeTextSlideRightTablet {
  0%{
    right: 50%;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transform: translateX(50%) translateY(-50%);
    transform: translateX(50%) translateY(-50%);
  }
  100%{
    -webkit-transform: translateX(0) translateY(-50%);
    transform: translateX(0) translateY(-50%);
    right: 0;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
}
@-webkit-keyframes homeTextSlideDown {
  0%{
    top: calc(50% + 60px);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
  100%{
    top: calc(50% + 80px);
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
}
@keyframes homeTextSlideDown {
  0%{
    top: calc(50% + 60px);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
  100%{
    top: calc(50% + 80px);
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
}
@-webkit-keyframes logoBigSlideUp {
  from{
    top: 50%;
  }
  to{
    top: calc(50% - 150px);
  }
}
@keyframes logoBigSlideUp {
  from{
    top: 50%;
  }
  to{
    top: calc(50% - 150px);
  }
}
@-webkit-keyframes fadeInDelayed {
  0%{
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
  50%{
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
  100%{
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
}
@keyframes fadeInDelayed {
  0%{
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
  50%{
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
  100%{
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
}
@-webkit-keyframes scaleIn {
  from{
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  to{
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scaleIn {
  from{
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  to{
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes scaleOut {
  from{
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  to{
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}
@keyframes scaleOut {
  from{
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  to{
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}
@-webkit-keyframes scaleInBigger {
  from{
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  to{
    -webkit-transform: scale(1.7);
    transform: scale(1.7);
  }
}
@keyframes scaleInBigger {
  from{
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  to{
    -webkit-transform: scale(1.7);
    transform: scale(1.7);
  }
}
@-webkit-keyframes slideOutDownFar {
  from {
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    visibility: visible;
  }

  to {
    -webkit-transform: translateY(500%);
    transform: translateY(500%);
  }
}
@keyframes slideOutDownFar {
  from {
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    visibility: visible;
  }

  to {
    -webkit-transform: translateY(500%);
    transform: translateY(500%);
  }
}
@-webkit-keyframes slideInDownWebProject {
  from {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    visibility: visible;
  }

  to {
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
  }
}
@keyframes slideInDownWebProject {
  from {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    visibility: visible;
  }

  to {
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
  }
}
