.ng-enter.fade{
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  /*animation-delay: 1s;*/
}
.ng-leave.fade{
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
}
.delayed-fadein{
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-animation: fadeInUpCustom 0.5s ease forwards;
  animation: fadeInUpCustom 0.5s ease forwards;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
html{
  width: 100vw;
  overflow: hidden;
}
body{
  background-color: #322940;
  font-family: 'Open Sans';
  margin: 0;
  width: 100%;
  height: 100%;
  top: 0;
}
main{
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}
header{
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}
header h1{
  display: inline-block;
  font-size: 2rem;
  margin-left: 0.7em;
}
header, #logo-big #fills, #visit-link{
  /*opacity: 0;*/
  /*animation: display 1.75s ease forwards;*/
  /*animation-delay: 10s;*/
}
p{
  line-height: 30px;
}
#logo-ico{
  vertical-align: middle;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  margin-left: -50px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
#logo-ico.visible{
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  margin-left: 20px;
}
.instant-show header, .instant-show #logo-big #fills, .instant-show #visit-link{
  -webkit-animation: none;
  animation: none;
  -webkit-animation-delay: 0;
  animation-delay: 0;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
#social-links{
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 30px;
  margin-right: 45px;
}
#social-links a{
  font-size: 1.75rem;
  width: 45px;
  color: #fff;
  margin-left: 45px;
  position: relative;
  display: inline-block;
}
#social-links a > *, #contact-form, .web-projects{
  position: absolute;
  left: 50%;
  top:50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.web-projects{
  -webkit-transform: translateX(-50%) translateY(-200%);
  transform: translateX(-50%) translateY(-200%);
}
#social-links a circle{
  stroke-dasharray: 0 1000;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#social-links a:hover i{
  -webkit-animation: hue 3s linear infinite;
  animation: hue 3s linear infinite;
}
#social-links a svg{
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(0deg);
  transform: translateX(-50%) translateY(-50%) rotate(0deg);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#social-links a:hover svg{
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(180deg);
  transform: translateX(-50%) translateY(-50%) rotate(180deg);
}
#social-links a:hover circle{
  stroke-dasharray: 190 0;
}

#logo-big, #intro, #home-text{
  position: absolute;
  left:50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  z-index: 3
}
#logo-big{
  z-index: 6;
}
#home-text{
  z-index: 5;
}
#logo-big:hover #fills path{
  -webkit-animation: hover 0.5s linear;
  animation: hover 0.5s linear;
}
#logo-big.home-logo{
  -webkit-animation: logoBigSlideLeft 1s ease forwards;
  animation: logoBigSlideLeft 1s ease forwards;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
#home-text{
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  padding-left: 16px;
  width: 480px;
  box-sizing: content-box;
  text-align: left;
  left: 50%;
  -webkit-animation: homeTextSlideRight 1s ease forwards;
  animation: homeTextSlideRight 1s ease forwards;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
#home-text p{
  line-height: 1.5em;
}
.outline{
  stroke: #fff;
  stroke-width: 2;
  stroke-dasharray: 1328 2000;
  -webkit-animation: drawOutline 3.5s ease;
  animation: drawOutline 3.5s ease;
  -webkit-animation-delay: 8.25s;
  animation-delay: 8.25s;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.border{
  stroke-width: 5px;
  stroke-dasharray: 90 2000;
  stroke-dashoffset: 90;
  stroke-linejoin: round;
  stroke-linecap: round;
}
.b1{

  stroke: #ED0091;
  -webkit-animation: draw 6s ease infinite;
  animation: draw 6s ease infinite;
}
.b2{
  stroke: #FEFF32;
  -webkit-animation: draw 6s ease infinite;
  animation: draw 6s ease infinite;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
.b3{
  stroke: #87F0FB;
  -webkit-animation: draw 6s ease infinite;
  animation: draw 6s ease infinite;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}
h1, h2{
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;

}
h2 + p{
  margin-bottom: 50px;
}
.w1{
  -webkit-animation: scrollw1 20s linear infinite;
  animation: scrollw1 20s linear infinite;
}
.w2{
  -webkit-animation: scrollw2 20s linear infinite;
  animation: scrollw2 20s linear infinite;
}
.w3{
  -webkit-animation: scrollw3 20s linear infinite;
  animation: scrollw3 20s linear infinite;
}


#background-moving-text{
  position: absolute;
  top: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  /*animation: displayBackground 1.75s ease forwards;*/
  /*animation-delay: 10s;*/
  /*color: #322940;*/
  color: #3c344a;
}
.row2 span{
  top: 25vh;
}
.row3 span{
  top: 50vh
}
.row4 span{
  top: 75vh;
}
#background-moving{
  background-image: url('../images/background.png') ;
  background-color: #322940;
  background-blend-mode: luminosity;
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
}
#BorderLine{
  stroke-dasharray: 0 2000;
  -webkit-animation: drawIntroLine 6s ease;
  animation: drawIntroLine 6s ease;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  fill: transparent;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
#BorderDot{
  stroke-dasharray: 0 2000;
  stroke-linejoin: round;
  -webkit-animation: drawIntroDot 6s ease;
  animation: drawIntroDot 6s ease;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}
#Rectangle1{
  background-color: #ed0091;
  width: 0px;
  -webkit-animation: revealText 1s ease forwards;
  animation: revealText 1s ease forwards;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
#Rectangle2{
  width: 0px;
  -webkit-animation: revealText 1s ease forwards;
  animation: revealText 1s ease forwards;
  -webkit-animation-delay: 2.3s;
  animation-delay: 2.3s;
}
#Rectangle3{
  width: 0px;
  -webkit-animation: revealText 1s ease forwards;
  animation: revealText 1s ease forwards;
  -webkit-animation-delay: 2.6s;
  animation-delay: 2.6s;
}
#Paul-Antoine{
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-animation: displayText 4.9s linear;
  animation: displayText 4.9s linear;
  -webkit-animation-delay: 2.3s;
  animation-delay: 2.3s;
}
#Web-development{
  -webkit-animation: displayText 4.6s linear;
  animation: displayText 4.6s linear;
  -webkit-animation-delay: 2.6s;
  animation-delay: 2.6s;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
#Photography{
  -webkit-animation: displayText 4.3s linear;
  animation: displayText 4.3s linear;
  -webkit-animation-delay: 2.9s;
  animation-delay: 2.9s;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
#visit-link{
  color: #fff;
  font-size: 1.38rem;
  position: absolute;
  left: 50%;
  bottom: 40px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
#visit-link .white{
  color: #fff;
}
#visit-link .rect{
  position: absolute;
  overflow: hidden;
  height: 3px;
  width: 30px;
  -webkit-transform: translateX(-45px);
  transform: translateX(-45px);
  left: 50%;
  bottom:0;
}
#visit-link .rect > div{
  position: absolute;
  left: 0;
  top: 0;
  text-transform: uppercase;
}
#visit-link .rect .white,
#visit-link .rect .background .text{
  width:300px;
  text-align: center;
}
#visit-link .rect .background{
  width:30px;
  height: 30px;
  color: #322940;
  overflow: hidden;
}
#visit-link .rect1 .background{
  background-color: #FEFF32;
}
#visit-link .rect2{
  -webkit-transform: translateX(-15px);
  transform: translateX(-15px);
}
#visit-link .rect2 .background{
  background-color: #ED0091;
}
#visit-link .rect3{
  -webkit-transform: translateX(15px);
  transform: translateX(15px);
}
#visit-link .rect3 .background{
  background-color: #87F0FB;
}
#visit-link.open .rect1{
  -webkit-animation: positionRect1 1s ease forwards;
  animation: positionRect1 1s ease forwards;
}
#visit-link.open .rect2{
  -webkit-animation: positionRect2 1s ease forwards;
  animation: positionRect2 1s ease forwards;
}
#visit-link.open .rect3{
  -webkit-animation: positionRect3 1s ease forwards;
  animation: positionRect3 1s ease forwards;
}
#visit-link.open .rect1,
#visit-link.open .rect2,
#visit-link.open .rect3{
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
/*#visit-link.open .rect1:hover .background,*/
/*#visit-link.open .rect2:hover .background,*/
/*#visit-link.open .rect3:hover .background,*/
#visit-link.open .rect1.open .background,
#visit-link.open .rect2.open .background,
#visit-link.open .rect3.open .background{
  -webkit-animation: openMenuRect 0.5s ease forwards;
  animation: openMenuRect 0.5s ease forwards;
}
#visit-link .white{
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
#visit-link.open .rect1:hover .white{
  color: #FEFF32;
}
#visit-link.open .rect2:hover .white{
  color: #ED0091;
}
#visit-link.open .rect3:hover .white{
  color: #87F0FB;
}
#visit-link.open .rect1 .background,
#visit-link.open .rect2 .background,
#visit-link.open .rect3 .background{
  -webkit-animation: closeMenuRect 0.5s ease forwards;
  animation: closeMenuRect 0.5s ease forwards;

}
#visit-link.open span{
  -webkit-animation: hide 0s linear forwards;
  animation: hide 0s linear forwards;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.hide-animation{
  -webkit-animation: hide 1s ease forwards;
  animation: hide 1s ease forwards;
}
form{
  max-width: 500px;
  margin: 0 auto;
}
form > *{
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

  -webkit-transform: translateY(50px);

  transform: translateY(50px);
  -webkit-animation: fadeInUpCustom 0.5s ease forwards;
  animation: fadeInUpCustom 0.5s ease forwards;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
form > div > *{
  font-size: 0.875rem;
  color: #fff;
  background-color: transparent;
  border: solid 2px #fff;
  display: block;
  width: 100%;
  padding: 13px;
  box-sizing: border-box;
  margin: 20px 0;
  -webkit-transition: border-color 2s ease;
  transition: border-color 2s ease;
}
form > div > .error{
  border-color: #ED0091;
  -webkit-transition: none;
  transition: none ;
}
form > div > *::-webkit-input-placeholder{
  color: #fff;
  font-style: italic;
  opacity:0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}
form > div > *::-moz-placeholder{
  color: #fff;
  font-style: italic;
  opacity:0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}
form > div > *:-ms-input-placeholder{
  color: #fff;
  font-style: italic;
  opacity:0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}
form > div > *::placeholder{
  color: #fff;
  font-style: italic;
  opacity:0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}
form > div > *:focus{
  outline: none;
  border-color: #FEFF32;
}
.inside{
  text-align: center;
  color: #fff;
  margin-top: 100px;
}
form > *:nth-child(2){
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
form > *:nth-child(3){
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
form > *:nth-child(4){
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
.skills li{
  list-style: none;
  text-align: left;
}
.skills ul{
  margin-left: 0;
  padding-left: 0;
}
.skills h3{
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align: left;
  margin-top: 0;
}
.flex{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.skills .flex > div, .about-me, span.big{
  font-family: 'Open Sans';
}
.about-me a{
  color: #fff;
}
span.big{
  font-size: 3.125rem;
}
.skills .flex > div:nth-child(2){
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.skills .flex > div:nth-child(3){
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
.skills .flex {
  width: 900px;
  position: absolute;
  left: 50%;
  top:50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.cards{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.project-card{
  width: 200px;
  height: 150px;
  margin: 20px;
  background-color: #fff;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 80%;
  background-blend-mode: multiply;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  cursor: pointer;
}
.project-card:hover,
.project-card.active{
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.project-content p,
.project-content a{
  font-family: 'Open Sans';
  color: #ffffff;
}
.project-content{
  position: absolute;
  left: 50%;
  z-index: 1;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  /*-webkit-animation-fill-mode: forwards;*/
  /*animation-fill-mode: forwards;*/
}
.web-project .project-content{
  left: calc(50% - 450px);
  -webkit-transform: translateX(-200%);
  transform: translateX(-200%);
  width: 600px;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-timing-function: cubic-bezier(.38,.85,.72,1);
  animation-timing-function: cubic-bezier(.38,.85,.72,1);
  -webkit-animation-name: slideInDownWebProject;
  animation-name: slideInDownWebProject;
  bottom: 50%;
}
.ng-leave .project-content,
.ng-leave .mokup{
  -webkit-animation: slideOutDownFar cubic-bezier(.38,.85,.72,1) 1.2s;
  animation: slideOutDownFar cubic-bezier(.38,.85,.72,1) 1.2s;
}

.project-content.ng-enter{
  -webkit-animation: fadeInDelayed 1s ease;
  animation: fadeInDelayed 1s ease;
}
.project-content.ng-leave{
  -webkit-animation: fadeOut 0.5s ease;
  animation: fadeOut 0.5s ease;
}
.project-content h2{
  font-size: 1.5rem;
  font-weight:bold;
  text-transform: inherit;
  margin-bottom: 0;
  margin-top: 0;
}
.project-content .technologies{
  margin-top: 5px;
  font-family: inherit;
  font-size: 1.125rem;
}
.project-content .description{
  font-weight: 100;
  max-width: 900px;
  text-align: left;
  margin: 0 auto;
}
.project-content h2,
.project-content .technologies{
  text-align: left;
}
.project-content .website-link{
  max-width: 900px;
  text-align: left;
  margin: 30px auto;
  margin-bottom: 0;
}
.project-content .website-link a {
  border: solid 2px #fff;
  padding: 7px;
  text-decoration: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.project-content .website-link a:hover {
  background-color: #fff;
  color: #3c344a;
}
.mokup{
  position: absolute;
  width: 454px;
  height: 500px;
  background-size: 100%;
  right: calc(50% - 450px);
  bottom: 50%;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-timing-function: cubic-bezier(.38,.85,.72,1);
  animation-timing-function: cubic-bezier(.38,.85,.72,1);
  -webkit-animation-name: slideInDownWebProject;
  animation-name: slideInDownWebProject;
}
#contact-form{
  width: 100vw;
}
#contact-form p{
  margin-bottom: 40px;
}
#contact-form a{
  color :#ffffff;
}
#contact-form button{
  position: relative;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
#contact-form .sent button{
  -webkit-transform: translateY(-190px);
  transform: translateY(-190px);
}
#contact-form .sent input,
#contact-form .sent textarea{
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
#contact-form .sent button:before{
  content: 'Message sent, Thank you :)';
  font-family: Avenir;
  display: block;
  position: absolute;
  background-color: #322940;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  box-sizing: border-box;
  padding-top: 11px;

}
#social-links-button, #close-social-links{
  display: none;
}
.navigation{
  display: block;
  z-index: 5;
  position: absolute;
  top: 50%;
  left: calc(50% - 530px);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.navigation .name{
  display: none;
}
.navigation a{
  display: block;
  height: 40px;
  width: 40px;
  color: #fff;
}
.navigation li{
  position: relative;
  list-style: none;
  margin-bottom: 20px;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-animation: scaleIn ease 0.5s forwards;
  animation: scaleIn ease 0.5s forwards;
}
.navigation li:nth-child(2){ -webkit-animation-delay: 0.1s; animation-delay: 0.1s; }
.navigation li:nth-child(3){ -webkit-animation-delay: 0.2s; animation-delay: 0.2s; }
.navigation li:nth-child(4){ -webkit-animation-delay: 0.3s; animation-delay: 0.3s; }
.navigation li:nth-child(5){ -webkit-animation-delay: 0.4s; animation-delay: 0.4s; }
.ng-leave .navigation li{
}
.navigation a{
  content: '';
  display: inline-block;
  /*position: absolute;*/
  top: 50%;
  right: 0;
  width: 1em;
  height: 1em;
  box-shadow: inset 0 0 0 6px #fff;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.3s, box-shadow 0.3s;
  -webkit-transition: box-shadow 0.3s, -webkit-transform 0.3s;
  transition: box-shadow 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, box-shadow 0.3s;
  transition: transform 0.3s, box-shadow 0.3s, -webkit-transform 0.3s;
  -webkit-animation: fadeIn ease 1s;
  animation: fadeIn ease 1s;
}
.navigation li.active a{
  -webkit-transform: scale3d(1.75,1.75,1);
  transform: scale3d(1.75,1.75,1);
  box-shadow: inset 0 0 0 1px #fff;
}

@media screen and (max-width: 1023px) and (min-width: 500px) {
  #visit-link{
    -webkit-transform: translateX(-50%) scale(0.9);
    transform: translateX(-50%) scale(0.9);
  }
  .mokup{
    width: 300px;
    height: 334px;
    right: 10px;
  }
  .web-project .project-content{
    width: calc(100vw - 300px);
    left: 10px;
  }
  .navigation{
    bottom: 200px!important;
  }
  #visit-link .rect .white, #visit-link .rect .background .text{
    width: 250px;
  }
  #visit-link.open .rect1.open .background, #visit-link.open .rect2.open .background, #visit-link.open .rect3.open .background{
    -webkit-animation-name: openMenuRectTablet;
    animation-name: openMenuRectTablet;
  }
  #visit-link.open .rect1{
    -webkit-animation-name: positionRect1Tablet;
    animation-name: positionRect1Tablet;
  }
  #visit-link.open .rect2{
    -webkit-animation-name: positionRect2Tablet;
    animation-name: positionRect2Tablet;
  }
  #visit-link.open .rect3{
    -webkit-animation-name: positionRect3Tablet;
    animation-name: positionRect3Tablet;
  }
  #social-links{
    margin-right: 10px;
  }
  #social-links a{
    margin-left: 10px;
  }
  .skills .flex{
    width: 100vw;
    padding: 0 3%;
    box-sizing: border-box;
  }
  #home-text{
    width: 60vw;
    left: auto;
    -webkit-animation-name: homeTextSlideRightTablet;
    animation-name: homeTextSlideRightTablet;
  }
  #logo-big.home-logo{
    width: 34vw;
    -webkit-animation-name: logoBigSlideLeftTablet;
    animation-name: logoBigSlideLeftTablet;
  }
}
@media all and (max-width: 500px){
  header{
    z-index: 10;
    position: fixed;
    background: -webkit-linear-gradient(bottom, rgba(50,41,64,0), rgba(50,41,64,1), rgba(50,41,64,1));
    background: linear-gradient(to top, rgba(50,41,64,0), rgba(50,41,64,1), rgba(50,41,64,1));
  }
  .inside{

  }
  .inside.web-projects{
    margin-top: 100px;
  }
  #visit-link{
    position: fixed;
    background: -webkit-linear-gradient(top, rgba(50,41,64,0), rgba(50,41,64,1), rgba(50,41,64,1));
    background: linear-gradient(to bottom, rgba(50,41,64,0), rgba(50,41,64,1), rgba(50,41,64,1));
    height: 60px;
    width: 100vw;
    z-index: 8;
    -webkit-transform: translateX(-50%) scale(1)!important;
    transform: translateX(-50%) scale(1)!important;
  }

  header h1{
    font-size: 1.5rem;
    margin-left: 15px;
  }
  #logo-ico.visible{
    margin-left: 10px;
  }
  #logo-ico{
    height: 75px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
  }

  #home-text{
    width:100vw;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    left:50%;
    -webkit-animation: homeTextSlideDown 1s ease forwards;
    animation: homeTextSlideDown 1s ease forwards;
  }
  #logo-big.home-logo{
    -webkit-animation: logoBigSlideUp 1s ease forwards;
    animation: logoBigSlideUp 1s ease forwards;
    height: 150px;
  }
  #intro, #logo-big{
    height: 150px;
  }
  #home-text p{
    font-size: 0.8em;
  }
  span.big{
    font-size: 2em;
  }
  #visit-link{
    bottom: 0;
  }
  #visit-link .rect .white, #visit-link .rect .background .text{
    font-size: 14px;
    width: 33.33vw;
  }
  #visit-link .rect .white{
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  #visit-link .rect .background .text{
    bottom: 5px;
    position: absolute;
  }
  #visit-link.open .rect1{
    -webkit-animation-name: positionRect1Mobile;
    animation-name: positionRect1Mobile;
  }
  #visit-link.open .rect2{
    -webkit-animation-name: positionRect2Mobile;
    animation-name: positionRect2Mobile;
  }
  #visit-link.open .rect3{
    -webkit-animation-name: positionRect3Mobile;
    animation-name: positionRect3Mobile;
  }
  #visit-link.open .rect1 .background, #visit-link.open .rect2 .background, #visit-link.open .rect3 .background{
    -webkit-animation-name: closeMenuRectMobile;
    animation-name: closeMenuRectMobile;
  }
  #visit-link.open .rect1.open .background, #visit-link.open .rect2.open .background, #visit-link.open .rect3.open .background{
    -webkit-animation-name: openMenuRectMobile;
    animation-name: openMenuRectMobile;
  }
  #visit-link .rect .background{
    height: 3px;
    bottom: 0;
    top: auto;
    right: 0;
    width: 100%;
  }
  #contact-form form{
    padding: 0 10px;
  }
  form > *{
    margin: 10px 0;
    font-size: 0.7em;
  }
  #contact-form p{
    font-size: 0.8em;
    margin-bottom: 20px;
    margin-top: 40px;
  }
  #contact-form{
    max-height: calc(100vh - 61px);
    overflow: scroll;
    padding: 40px 0;
    box-sizing: border-box;
  }

  .skills .flex{
    width: 100vw;
  }
  .skills li, .skills h3{
    text-align: center;
  }
  .slick-dots li button:before{
    color: #fff!important;
    font-size: 18px!important;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .slick-dots li.slick-active button:before{
    -webkit-transform: scale(1.7);
    transform: scale(1.7);
    opacity: 1!important;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
  }
  .slick-dots{
    opacity: 0;
    left: 0;
    right: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-animation: fadeIn 1s ease forwards;
    animation: fadeIn 1s ease forwards;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
  }
  .project-content{
    width: 100vw;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    font-size: 0.8rem;
    padding: 10px;
    box-sizing: border-box;
  }
  .project-content .description{
    line-height: 24px;
  }
  .project-content .technologies{
    margin-bottom: 20px;
    font-size: 0.9rem;
  }
  .project-content h2{
    font-size: 1rem;
  }
  .cards{
    width: 100vw;
  }
  .project-card.slick-slide{
    height: 100px;
  }
  .mokup{
    right: calc(50% - 150px);
    background-repeat: no-repeat;
    width: 300px;
    height: 334px;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  }
  .web-project .project-content{
    left: 0;
    width:100vw;
  }
}
@media screen and (max-width: 1023px){
  .navigation li{
    display: inline-block;
    margin: 0 10px;
  }
  .navigation ul{
    padding-left: 0;
    text-align: center;
  }
  .navigation{
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 40px;
    top: auto;
    width: 100vw;
    z-index: 10;
  }
}
@media screen and (max-width: 730px){
  #visit-link{
    -webkit-transform: translateX(-50%) scale(0.8);
    transform: translateX(-50%) scale(0.8);
  }
  .skills .flex{
    font-size: 0.8em;
  }
  .skills h3{
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 640px){
  #visit-link{
    -webkit-transform: translateX(-50%) scale(0.7);
    transform: translateX(-50%) scale(0.7);
  }
  #social-links-button, #close-social-links{
    color: #ffffff;
    font-size: 2.2rem;
    position: absolute;
    right: 15px;
    top: 10px;
    display: block;
  }
  #social-links{
    position: fixed;
    background-color: #322940;
    border-left: solid 2px #fff;
    height: 100vh;
    width: 60px;
    margin: 0;
    top: 0;
    right: -62px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    padding-top: 120px;
    z-index: 50;
  }
  #social-links.open{
    right: 0;
  }
  #social-links a{
    width:60px;
    display: block;
    height: 60px;
    margin: 0;
  }
}
@media screen and (max-width: 570px){
  #visit-link{
    -webkit-transform: translateX(-50%) scale(0.6);
    transform: translateX(-50%) scale(0.6);
  }
}
@media screen and (min-width: 1023px){
  .inside.home{
    height: 100vh;
    width: 850px;
    position: absolute;
    top:0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-top: 0;
  }
}
