<div class="inside" >
  <div id="contact-form">
    <p>Leave a message below or contact me at <a href="mailto:paul.antoine2@gmail.com">paul.antoine2@gmail.com</a></p>
    <form ng-submit="submitContact()">
      <input type="text" placeholder="Name, Organisation" ng-model="name">
      <input type="email" placeholder="E-mail address" ng-model="email">
      <textarea name="" id="" cols="30" rows="10" placeholder="Message" ng-model="message"></textarea>
      <input type="submit" value="Contact">
    </form>
  </div>
</div>
