<div class="inside" >
  <div id="contact-form">
    <p>Leave a message below or contact me at <a href="mailto:paul.antoine2@gmail.com">paul.antoine2@gmail.com</a></p>
    <form ng-submit="submitContact()">
      <div>

        <input type="text" placeholder="Name, Organisation" ng-model="name" ng-class="{ 'error': nameError }">
      </div>
      <div>

        <input type="email" placeholder="E-mail address" ng-model="email" ng-class="{ 'error': emailError }">
      </div>
      <div>

        <textarea name="" id="" cols="30" rows="10" placeholder="Message" ng-model="message" ng-class="{ 'error': messageError }"></textarea>
      </div>
      <div>

        <input type="submit" value="Contact">
      </div>
    </form>
  </div>
</div>
