
  <!--<span>VISIT</span>-->
  <a href="contact" class="rect rect1" ng-class="location == '/contact' ? 'open' : ''"><div class="white">Contact me</div><div class="background"><div class="text">Contact me</div></div></a>
  <a href="web-projects/pdb" class="rect rect2" ng-class="location.startsWith('/web-projects') ? 'open' : ''"><div class="white">Web projects</div><div class="background"><div class="text">Web projects</div></div></a>
  <a href="skills" class="rect rect3" ng-class="location == '/skills' ? 'open' : ''"><div class="white">My skills</div><div class="background"><div class="text">My skills</div></div></a>
