<div class="inside skills">
  <div class="flex">
    <div class="languages delayed-fadein">
      <h3>Languages</h3>
      <ul>
        <li ng-repeat="language in languages">{{ language }}</li>
      </ul>
    </div>
    <div class="concepts delayed-fadein">
      <h3>Concepts</h3>
      <ul>
        <li ng-repeat="concept in concepts">{{ concept }}</li>
      </ul>
    </div>
    <div class="tools delayed-fadein">
      <h3>Tools I'm using</h3>
      <ul>
        <li ng-repeat="tool in tools">{{ tool }}</li>
      </ul>
    </div>
  </div>
</div>